/* ================ */
/* ===== Hero ===== */
/* ================ */


.hero {
  max-width: 1410px;
  border-radius: 32px;
  margin: 0 auto;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  background-image: url('../media/pages/boxes/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.hero__inner {
  padding-top: 123px;
  padding-bottom: 50px;
}

.hero__title {
  font-family: Bebas;
  font-size: clamp(6rem, 15vw, 18rem);
  text-transform: uppercase;
  padding: clamp(15rem, 15vw, 20rem) 0 clamp(7rem, 10vw, 10rem);
}

.hero__title span {
  display: flex;
  justify-self: end;
  text-wrap: nowrap;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2.5vw, 3rem);
  font-size: clamp(2rem, 3vw, 5.2rem);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 42px;
  transition: all .2s ease-in-out;
}



/* ===================== */
/* ===== Equipment ===== */
/* ===================== */

.equipment {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.equipment__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.equipment__info {
  display: flex;
  flex-direction: column;
}

.equipment__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  margin-bottom: 10px;
}

.equipment__title span {
  position: relative;
  color: var(--main-bg-color);
  z-index: 2;
}

.equipment__title span::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat left / contain;
  top: -0.1em;
  left: -0.2em;
  width: 3em;
  height: 1em;
  z-index: -1;
  transform: scalex(1.1) scaleY(1.4);

}

.equipment__text {
  font-size: clamp(2rem, 2vw, 2.4rem);
  max-width: 513px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.equipment__text span{
  position: relative;
}

.equipment__btn {
  display: flex;
  align-self: start;
  color: var(--main-bg-color);
  font-size: clamp(2.2rem, 2.5vw, 2.6rem);
  padding: 10px 57px;
  border-radius: 24px;
}

.equipment__btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.equipment__img {
  height: 527px;
  width: 574px;
}

.equipment__img img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
  object-fit: cover;
  object-position: 0 50%;
}


@media (max-width: 600px) {
  .equipment__inner {
    flex-direction: column;
  }

  .equipment__img {
    height: 300px;
    width: 100%;
  }

  .equipment__btn {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.equipment__text__span--1::after {
  content: "";
  position: absolute;
  left: -0.1em;
  bottom: -0.4em;
  width: 4em;
  height: 1em;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  z-index: -1;
}
.equipment__text__span--2::after {
  content: "";
  position: absolute;
  left: -0.1em;
  bottom: -0.4em;
  width: 5.4em;
  height: 1em;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  z-index: -1;
}