.main {
  margin-top: clamp(0rem, 1vw, 3.2rem);
}

/* ================ */
/* ===== Hero ===== */
/* ================ */

.hero {
  max-width: 1410px;
  border-radius: 32px;
  margin: 0 auto;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  background-image: url('../media/pages/contest/hero-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.hero__inner {
  padding-top: 123px;
  padding-bottom: 50px;
}

.hero__title {
  font-family: Bebas;
  font-size: clamp(6rem, 15vw, 18rem);
  text-transform: uppercase;
  padding-left: clamp(0rem, 15vw, 27rem);
  text-indent: max(-270px, -15vw);
  margin-bottom: clamp(15rem, 30vw, 38rem);
}

.hero__title::first-line {
  padding-left: 0;
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2.5vw, 3rem);
  font-size: clamp(2rem, 4vw, 5.2rem);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 42px;
  transition: all .2s ease-in-out;
}


/* ================== */
/* ===== Judges ===== */
/* ================== */

.judges {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.judges__inner {
  display: flex;
  flex-direction: column;
}

.judges__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  margin-bottom: 50px;
  position: relative;
}

.judges__title::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(32rem, 50vw, 72rem);
  height: 100%;
  z-index: -1;
}

.judges__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 5px;
}

.judges__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.judges__card-img {
  background-image: url('../media/shared/decoration/dragon.svg');
  cursor: pointer;
  border-radius: 100%;
  margin-bottom: 5px;
}

.judges__card-img img {
  background-color: var(--main-text-color);
  background-image: url('../media/shared/decoration/dragon.svg');
  cursor: pointer;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  width: 100%;
  aspect-ratio: 1;
}

.judges__card-video {
  position: relative;
}

.judges__card-video::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: url(../media/shared/icons/play.svg)
}

.judges__name {
  font-family: Bebas;
  font-size: clamp(2.2rem, 2.5vw, 3.2rem);
}

.judges__post {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  max-width: 170px;
  text-align: center;
  margin-bottom: 10px;
}

.judges__socials {
  display: flex;
  gap: 5px;
}

.judges__name--special {
  position: relative;
  z-index: 5;
  color: var(--main-bg-color);
}

.judges__name--special::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.4);
}

.judges__socials-item {}

.judges__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--main-text-color);
  border-radius: 100%;
}

.judges__btn {
  align-self: center;
  margin-left: 0;
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  font-weight: 600;
  color: var(--main-bg-color);
  background-color: var(--accent);
  border-radius: 42px;
  padding: 15px 44px;
}


/* ================== */
/* ===== Healed ===== */
/* ================== */

.healed {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.healed__inner {
  display: flex;
  flex-direction: column;
}

.healed__header {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.healed__title {
  font-family: Bebas;
  font-size: clamp(4rem, 7vw, 8.2rem);
}

.healed__title span {
  position: relative;
  text-wrap: nowrap;
  color: var(--main-bg-color);
}

.healed__title span::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.2);
}

.healed__description {
  font-family: Bebas;
  font-size: clamp(3rem, 5vw, 6rem);
}

.healed-slider {
  position: relative;
  width: 100%;
}

.healed-slider__track {
  position: relative;
  /* width: 800px; */
  height: 600px;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.healed-slider__item {
  width: 320px;
  height: 430px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.4);
  background-position: center;
  background-size: cover;
  transition: 0.5s;
}

.healed-slider__item:nth-child(1),
.healed-slider__item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.healed-slider__item:nth-child(3) {
  left: clamp(1rem, 95vw, 70rem);
}

.healed-slider__item:nth-child(4) {
  left: calc(50% + 430px);
}

.healed-slider__item:nth-child(5) {
  left: calc(50% + 440px);
}

.healed-slider__item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.healed-slider__content {
  position: absolute;
  top: 50%;
  left: clamp(1rem, 7vw, 10rem);
  width: clamp(28rem, 40vw, 50rem);
  transform: translateY(-50%);
  color: #fff;
  display: none;
}

.healed-slider__item:nth-child(2) .healed-slider__content {
  display: block;
}

.healed-slider__name {
  font-size: clamp(3rem, 5vw, 6rem);
  text-transform: uppercase;
  font-family: Bebas;
  opacity: 0;
  animation: healFade 1s forwards;
}

.healed-slider__desc {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: healFade 1s 0.3s forwards;
  line-height: 140%;
}

.healed-slider__link-wrapper {
  display: flex;
  gap: 5px;
}

.healed-slider__link {
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  border-radius: 42px;
  padding: 10px;
  cursor: pointer;
  animation: healFade 1s 0.6s forwards;
  opacity: 0;
  flex: 1;
  text-align: center;
}

.healed-slider__button:hover {
  background: #fff;
}

@keyframes healFade {
  from {
    opacity: 0;
    transform: translateY(80px);
    filter: blur(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.healed-slider__controls {
  position: absolute;
  bottom: 1%;
  display: flex;
  gap: 20px;
  right: 10%;
}

.healed-slider__btn {
  width: clamp(5rem, 10vw, 6.5rem);
  height: clamp(5rem, 10vw, 6.5rem);
  border-radius: 100%;
  border: 2px solid var(--main-bg-color);
  backdrop-filter: blur(10px);
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.healed-slider__btn:hover {
  transform: scale(1.1);
}


/* ===================== */
/* ===== Accordion ===== */
/* ===================== */


.accordion {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.accordion__inner {}

.accordion__title {
  font-family: Bebas;
  font-size: clamp(4rem, 7vw, 8.2rem);
  margin-bottom: 30px;
}

.accordion span {
  position: relative;
  text-wrap: nowrap;
  color: var(--main-bg-color);
}

.accordion__title span::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 15%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(4.5) scaleX(1.5);
}

.accordion__wrapper {}

.accordion__list {
  display: flex;
  gap: clamp(1.4rem, 2vw, 2.6rem);
  height: 820px;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 177px;
  max-width: clamp(10rem, 13vw, 17.7rem);
  padding: 30px 0 0 0;
  background-color: var(--main-text-color);
  border-radius: 32px;
  color: var(--main-bg-color);
  cursor: pointer;
  transition: all .3s ease-in;
  background-image: url('../media/shared/decoration/shape.png');
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.item--active {
  max-width: 622px;
  padding: 75px 65px 50px 65px;
  position: relative;
}

.accordion__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../media/pages/contest/accordion-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  margin-left: -100%;

  opacity: 0;
  transition: all .3s ease;
}

.item--active::before {
  opacity: 1;
  margin-left: 0;
}

.item--active .accordion__item-body {
  max-height: 500px;
  opacity: 1;
}

.item--active .accordion__item-title {
  font-size: clamp(4rem, 5vw, 6rem);
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
}

.accordion__item-title {
  font-family: Bebas;
  font-size: clamp(2rem, 3vw, 4rem);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: transform .3s ease;
}

.accordion__item-body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height .4s ease, opacity .4s ease;
}

.accordion__item-prize {
  font-family: Bebas;
  font-size: clamp(3rem, 4vw, 4.2rem);
  margin-bottom: 15px;
  position: relative;
}

.accordion__item-prize::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(23rem, 30vw, 32rem);
  height: 100%;
  z-index: 0;
}

.accordion__item-description {
  font-size: clamp(1.6rem, 3vw, 2.8rem);
  margin-bottom: 35px;
  line-height: 1;
  position: relative;
}

.accordion__btn {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: clamp(2rem, 2.2vw, 2.4rem);
  border-radius: 32px;
}

.accordion__item:nth-child(2) {
  background-position: bottom;
}

.accordion__item:nth-child(4) {
  background-position: bottom;
}



/* ==================== */
/* ===== Best Box ===== */
/* ==================== */


.best-box {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.best-box__inner {}

.best-box__title {
  font-family: Bebas;
  font-size: clamp(4rem, 7vw, 8.2rem);
  margin-bottom: 30px;
}

.best-box__title span {
  position: relative;
  text-wrap: nowrap;
  color: var(--main-bg-color);
}

.best-box__title span::before {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 4%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.2);
}

.best-box__wrapper {
  background-image: url("../media/pages/contest/best-box-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
  display: flex;
  align-items: center;
  padding: clamp(1rem, 3vw, 4rem);
  border-radius: 32px;
  position: relative;
}

.best-box__wrapper::after {
  content: '07';
  position: absolute;
  height: 100%;
  font-size: clamp(4rem, 5vw, 6.2rem);
  font-family: Bebas;
  color: var(--main-bg-color);
  top: 5%;
  right: 5%;
}

.best-box__body {
  max-width: 636px;
  background-color: #ffffff20;
  backdrop-filter: blur(42px);
  color: var(--main-bg-color);
  padding: clamp(2rem, 3vw, 3rem) clamp(2rem, 4vw, 4rem);
  border-radius: 32px;
  box-shadow: 1px 0 1px 1px rgba(255, 255, 255, 0.5) inset;
}

.best-box__description {
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin-bottom: 35px;
}

.best-box__info {
  padding-bottom: 35px;
  font-size: clamp(1.6rem, 2vw, 2rem);
  position: relative;
}

.best-box__info::before {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat left / contain;
  top: -15px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
}

.best-box__buttons {
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  ;
  display: flex;
  gap: 5px;
}

.best-box__btn {
  display: flex;
  padding: 8px;
  flex: 1;
  justify-content: center;
  border-radius: 18px;
}



/* ====================== */
/* ===== Nomination ===== */
/* ====================== */


.nomination {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.nomination__inner {
  position: relative;
}

.nomination__inner::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10%;
  width: 774px;
  height: 508px;
  background-image: url('../media/pages/contest/nomination-img.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: clamp(30%, 40vw, 90%);
}

.nomination__title {
  font-family: Bebas;
  font-size: clamp(4rem, 7vw, 8.2rem);
  margin-bottom: 30px;
}

.nomination__wrapper {
  display: flex;
}

.nomination__col {
  justify-self: start;
}

.nomination__title span {
  color: var(--main-bg-color);
  position: relative;
}

.nomination__title span::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.4);
}

.nomination__description {
  font-size: clamp(1.6rem, 3vw, 2.8rem);
  margin-bottom: 30px;
}

.nomination__info {
  font-size: clamp(1.6rem, 3vw, 2.8rem);
  max-width: 600px;
}

.nomination__info span {
  color: var(--main-bg-color);
}


/* =================== */
/* ===== Rewards ===== */
/* =================== */

.rewards {
  max-width: 1410px;
  border-radius: 32px;
  margin: 0 auto;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  background-image: url('../media/pages/contest/rewards-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.rewards__inner {
  padding: 90px 0 40px 0;
}

.rewards__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  position: relative;
  margin-bottom: 56px;
}

.rewards__title::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(32rem, 50vw, 72rem);
  height: 100%;
  z-index: 0;
}

.rewards__list {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.rewards__item {
  max-width: 356px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 1px 1px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(42px);
  padding: 22px;
  border-radius: 32px;
}

.rewards__item-title {
  font-family: Bebas;
  font-size: clamp(2rem, 2.5vw, 2.6rem);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-bg-color);
}

.rewards__item-title span {
  position: relative;
}

.rewards__item-title span::before {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleY(2) scaleX(1.2);
}

.rewards__prizes-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 10px;
}

.rewards__prizes-item {
  font-family: Bebas;
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  position: relative;
  padding-left: 25px;
}

.rewards__prizes-item::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  left: 0;
  top: 10%;
  background-image: url('../media/shared/icons/bullet.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}



@media(max-width: 1030px) {
  .healed-slider__link-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .judges__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .healed__header {
    flex-direction: column;
  }

  .accordion__list {
    flex-direction: column;
    height: auto;
  }

  .accordion__item {
    max-width: none;
    background-size: 100%;
    padding: 15px;
    height: auto;
  }

  .accordion__item-title {
    writing-mode: horizontal-tb;
    transform: none;
  }

  .item--active .accordion__item-title {
    margin-bottom: 10px;
  }

  .accordion__item::before {
    background-size: 50%;
  }

  .nomination__inner::after {
    background-position: top right;
    z-index: -1;
  }

  .rewards__list {
    flex-wrap: wrap;
  }

  .rewards__item {
    max-width: none;
  }
}

@media (max-width: 440px) {
  .best-box__body {
    padding: 6rem clamp(2rem, 4vw, 4rem);
    background-image: url('../media/pages/contest/best-box-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .best-box__wrapper {
    padding: 0;
    background-image: none;
  }

  .best-box__title span {
    text-wrap: auto;
  }

  .best-box__buttons {
    flex-direction: column;
  }

  .best-box__info::before {
    left: 5px;
    transform: scaleY(1.6) scaleX(1.1);
  }

  .best-box__wrapper::after {
    display: none;
  }
}

@media (max-width: 404px) {
  .best-box__title span::before {
    width: 400px;
    transform: scaleY(2.2) scaleX(1.1);
  }
}

@media (max-width: 380px) {
  .healed-slider__controls {
    right: 50%;
    transform: translateX(50%);
  }

  .nomination__inner::after {
    right: -15%;
  }
}