@import 'header.css';


:root {
  --main-bg-color: #fff;
  --main-text-color: #161616;
  --accent: #F6060A;
}

html {
  font-size: 10px!important;
  scroll-behavior: smooth;
}

.body {
  position: relative;
  min-width: 350px;
  font-family: 'Gilroy', sans-serif;
  line-height: normal;
  font-weight: 400;
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

.body {
  min-height: 100vh;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}


.main {
  flex-grow: 1;
  margin-top: clamp(0rem, 1vw, 3.2rem);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  max-width: 1300px;
}

.container--xl {
  max-width: 1410px;
}

.body--active .burger-menu {
  margin-right: 0;
}

.body--active .header__burger {
  z-index: 101;
}

.burger-menu{
  position: relative;
  z-index: 1000;
}

[data-style-type="transparent"] {
  border: 2px solid var(--main-bg-color);
  /* background-color: inherit; */
  backdrop-filter: blur(10px);
  transition: all .2s ease-in-out;
  background-color: #0000001f;
}

[data-style-type="red"] {
  border: 2px solid var(--accent);
  background-color: var(--accent);
  backdrop-filter: blur(10px);
  transition: all .2s ease-in-out;
}

[data-style-type="transparent"]:hover {
  border: 2px solid var(--accent);
  background-color: var(--accent);
}

[data-style-type="red"]:hover {
  border: 2px solid var(--main-bg-color);
  background-color: inherit;
}