@import 'reset.css';
@import 'fonts.css';
@import 'global.css';


.body--active .header__burger {
  gap: 0;
  overflow: hidden;
  padding: 0;
}

.body--active .header__burger-text {
  max-width: 0;
}

.header__burger-text span {
  opacity: 1;
  transition: opacity .3s ease;
}

.body--active .header__burger-text span {
  opacity: 0;
}

.body--active .header__burger-icon {
  transform: rotate(45deg);
}

.body--active .header__burger .header__burger-icon span::before {
  top: 0;
  transform: rotate(90deg);
}

.body--active .header__burger .header__burger-icon span::after {
  opacity: 0;
}


.header {
  color: var(--main-bg-color);
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  font-weight: 600;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  transform: translateY(clamp(0rem, 1vw, 3.2rem));
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: translateY(0)
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: clamp(1rem, 3vw, 2rem) 0;
}


.header__logo {
  background-color: var(--accent);
  padding: 5px 10px;
  border-radius: 5px;
  flex-shrink: 0;
}

.header__logo svg {
  width: 100%;
  height: auto;
}

.header__links {
  display: flex;
  gap: clamp(1rem, 3vw, 3.2rem);
}

.header__link {
  display: flex;
  padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1.5rem, 2.5vw, 3rem);
  gap: clamp(1rem, 2.5vw, 2.8rem);
  align-items: center;
  border: 2px solid var(--main-bg-color);
  border-radius: 50px;
  transition: all .2s ease-in-out;
}

.header__link-icon {
  max-width: 36px;
  max-height: 33px;
}

.header__link-icon svg {
  width: 100%;
  height: auto;
}

.header__burger {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--main-bg-color);
  border-radius: 50px;
  padding: 0 0 0 clamp(1rem, 2.5vw, 3rem);
  transition: all .2s ease-in-out;
  position: relative;
}

.header__burger:hover {
  border: 2px solid var(--accent);
  background-color: var(--accent);
}

.header__burger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  padding: 15px;
  background-color: var(--accent);
  border-radius: 50px;
  transition: all .2s ease-in-out;
}

.header__burger:hover .header__burger-icon {
  background-color: var(--main-bg-color);
}

.header__burger .header__burger-icon span {
  position: relative;
}

.header__burger .header__burger-icon span,
.header__burger .header__burger-icon span::after,
.header__burger .header__burger-icon span::before {
  content: '';
  height: 2px;
  width: 18px;
  transition: all .2s ease-in-out;
  background-color: #fff;
}

.header__burger .header__burger-icon span::after,
.header__burger .header__burger-icon span::before {
  position: absolute;
}

.header__burger .header__burger-icon span::after {
  bottom: 8px;
}

.header__burger .header__burger-icon span::before {
  top: 8px;
}

.header__burger:hover .header__burger-icon span,
.header__burger:hover .header__burger-icon span::after,
.header__burger:hover .header__burger-icon span::before {
  background-color: var(--main-text-color);
}

.burger-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-text-color);
  opacity: 0.9;
  color: var(--main-bg-color);
  font-size: clamp(2rem, 3vw, 2.5rem);
  font-weight: 600;
  z-index: 10;
  margin-right: -50%;
  transition: margin .3s ease-in-out;
  backdrop-filter: blur(20px);
}

.burger-menu__inner {
  margin-top: 150px;
  padding: 15px;
}

.burger-menu__list {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 3vw, 3rem);
}

.burger-menu__item {}

.burger-menu__link {}

@media (max-width: 769px) {
  .header__burger {
    padding: 0;
  }

  .header__burger-text {
    display: none;
  }
}

@media (max-width: 550px) {
  .header__links {
    display: none;
  }

  .burger-menu {
    margin-right: -100%;
    width: 100%;
  }
}