/* ================ */
/* ===== Hero ===== */
/* ================ */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s, visibility 1.4s;
}

.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes load {
  0% {
    opacity: 0.08;
    /*         font-size: 10px; */
    /* 				font-weight: 400; */
    filter: blur(5px);
    letter-spacing: 3px;
  }

  100% {
    /*         opacity: 1; */
    /*         font-size: 12px; */
    /* 				font-weight:600; */
    /* 				filter: blur(0); */
  }
}

.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  flex-direction: column;

  /* 	width: 350px; */
  /* 	font-size:26px; */
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px white;
}

.preloader-title {
  font-family: 'Bebas';
  margin-top: 20px;
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  color: #161616;
}


.hero {
  max-width: 1410px;
  border-radius: 32px;
  margin: 0 auto;
  color: var(--main-bg-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: clamp(4rem, 10vw, 12rem);
  position: relative;
}

.hero__inner {
  padding-top: 123px;
  padding-bottom: 50px;
}

.hero__title {
  font-family: 'Bebas';
  font-size: clamp(7rem, 15vw, 28rem);
  text-transform: uppercase;
  padding: clamp(8rem, 10vw, 11rem) 0 clamp(7rem, 8vw, 9rem);
  position: relative;
}

.hero__title::after {
  content: '07.06';
  position: absolute;
  top: clamp(9rem, 12vw, 15rem);
  right: 0%;
  font-size: clamp(5rem, 8vw, 12rem);
  color: var(--main-bg-color);
}

.hero__title::before {
  content: '06.06';
  position: absolute;
  top: clamp(16.6rem, 30vw, 45rem);
  font-size: clamp(5rem, 8vw, 12rem);
  color: var(--main-bg-color);
}

.hero__title span {
  display: flex;
  justify-self: end;
  text-wrap: nowrap;
  font-size: clamp(6rem, 15vw, 21rem);
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2.5vw, 3rem);
  font-size: clamp(2rem, 3vw, 5.2rem);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 42px;
  transition: all .2s ease-in-out;
}

.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-video-bg video {
  width: 100%;
  max-width: 1410px;
  border-radius: 32px;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(19, 17, 17, 0.4) 100%);
  border-radius: 32px;
}


/* ================= */
/* ===== About ===== */
/* ================= */


.about {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.about__inner {}

.about__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.about__title {
  font-size: clamp(5rem, 8vw, 12rem);
  font-family: Bebas;
  position: relative;


  opacity: 0;
  transform: translateY(200px);
  will-change: transform, opacity;

  animation-name: fadeUp;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.2,.9,.2,1);
  animation-timeline: view();
  animation-range: 0% 60%;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about__title::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(32rem, 45vw, 60rem);
  height: 100%;
  z-index: -1;
}

.about__info {
  align-self: end;
  max-width: 400px;
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
}

.about__content {}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--main-bg-color);
  gap: clamp(1rem, 2vw, 3.2rem);
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../media/pages/index/card-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 25px;
  height: clamp(16rem, 25vw, 33rem);
  border-radius: 32px;
  position: relative;
  overflow: visible;
}

.about__item::after {
  position: absolute;
  content: '';
  background-image: url(../media/pages/index/card-arrow.svg);
  background-repeat: no-repeat;
  left: clamp(70%, 75vw, 78%);
  width: clamp(2rem, 6vw, 6.7rem);
  height: clamp(2rem, 6vw, 6.7rem);
  transition: all .3s ease;
  top: clamp(70%, 75vw, 78%);
  background-size: cover;
}

.about__item:hover::after {
  transform: rotate(-115deg);
}

.about__item:nth-child(2) {
  grid-column: 3/4;
}

.about__item:nth-child(4) {
  grid-column: 2/3;
}


.about__item.about__item--empty::after {
  background: none;
  width: 0;
  height: 0;
}

.about__item--accent {
  background-image: url('../media/pages/index/card-bg--accent.svg');
}

.about__item--accent.about__item::after {
  background-image: url(../media/pages/index/card-arrow--accent.svg);
}


.about__item--empty {
  background: none;
}

.about__item--video {
  grid-column: 3/5;
  width: 100%;
  background: none;
  background-color: var(--main-text-color);
}

.about__item-title {
  font-family: Bebas;
  font-size: clamp(4rem, 7vw, 12rem);
  line-height: 1;
  display: flex;
}

.about__item-title span {
  font-size: clamp(2.5rem, 3vw, 7rem);
}

.about__item-subtitle {
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  max-width: clamp(10rem, 12vw, 19rem);
}

.about__item--empty {
  width: 0;
}

/* ==================== */
/* ===== Partners ===== */
/* ==================== */


.partners {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.partners__inner {
  margin-bottom: 20px;
}

.partners__title {
  font-size: clamp(5rem, 8vw, 12rem);
  font-family: Bebas;
}

.partners__wrapper {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100px;
  overflow: hidden;
  border-top: 2px solid var(--main-text-color);
  border-bottom: 2px solid var(--main-text-color);
}

.partners__track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.partners__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 30px;
}

.partners__list {
  display: flex;
  gap: 30px;
}

.partners__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.partners__logo {
  width: 65px;
  height: 65px;
}

.partners__logo svg {
  width: 100%;
  height: 100%;
}

.partners__name {
  font-family: Bebas;
  font-size: 40px;
  font-weight: 900;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ================= */
/* ===== events ===== */
/* ================= */

.events {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.events-title {
  color: #fff;
  font-family: 'Bebas';
  font-size: clamp(2rem, 10vw, 7rem);
  text-align: center;
  width: 100%;
  margin: 8rem auto 4rem auto;

}

.container-events {
  background-color: #161616;
  border-radius: 32px;
  padding: 0px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.studios-grid {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.studio-card {
  width: 600px;
  height: 500px;
  perspective: 1200px;
}

.card-left {
  align-self: flex-start;
  margin-left: 50px;
}

.card-left--2 {
  margin-top: -150px;
  margin-left: 100px;
}

.card-right-2 {
  margin-left: -100px;
  margin-top: -100px;
}

.card-right {
  align-self: flex-end;
  margin-right: 50px;
  margin-top: -200px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 32px;
  overflow: visible;

}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
  /* Убираем возможный фон у изображения */
  background: transparent;
}

.card-inner-end {
  margin-top: -150px;
}



.card-back {
  transform: rotateX(180deg);
}

/* Адаптив для мобилок */
@media (max-width: 768px) {
  .studios {
    padding: 60px 0;
  }

  .studios-grid {
    gap: 40px;
    align-items: stretch;
  }

  .studio-card {
    width: 100%;
    height: 300px;
    max-width: 400px;
    margin: 0 auto !important;
  }

  .card-left,
  .card-right {
    align-self: stretch;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .card-front,
  .card-back {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: transparent !important;
  }
}

@media (max-width: 480px) {
  .studio-card {
    height: 250px;
  }

  .studios-grid {
    gap: 30px;
  }
}

.ellipse {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
  pointer-events: none;
  z-index: -1;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.7;
  }
}

.ellipse-2 {
  position: absolute;
  top: 80%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 60%;
  pointer-events: none;
  z-index: -1;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.7;
  }
}



/* ================== */
/* ===== Judges ===== */
/* ================== */

.judges {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.judges__inner {
  display: flex;
  flex-direction: column;
}

.judges__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  margin-bottom: 50px;
  position: relative;
}

.judges__title::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(32rem, 50vw, 72rem);
  height: 100%;
  z-index: -1;
}

.judges__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-bottom: 5px;
}

.judges__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.judges__card-img {
  background-image: url('../media/shared/decoration/dragon.svg');
  cursor: pointer;
  border-radius: 100%;
  margin-bottom: 5px;
}

.judges__card-img img {
  background-color: var(--main-text-color);
  background-image: url('../media/shared/decoration/dragon.svg');
  cursor: pointer;
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  width: 100%;
  aspect-ratio: 1;
}

.judges__card-video {
  position: relative;
}

.judges__card-video::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: url(../media/shared/icons/play.svg)
}

.judges__name {
  font-family: Bebas;
  font-size: clamp(2.2rem, 2.5vw, 3.2rem);
}

.judges__post {
  font-size: clamp(1.4rem, 1.5vw, 1.8rem);
  max-width: 170px;
  text-align: center;
  margin-bottom: 10px;
}

.judges__socials {
  display: flex;
  gap: 5px;
}

.judges__name--special {
  position: relative;
  z-index: 5;
  color: var(--main-bg-color);
}

.judges__name--special::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/text-bg.svg) no-repeat center / contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.4);
}

.judges__socials-item {}

.judges__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: 1px solid var(--main-text-color);
  border-radius: 100%;
}

.judges__btn {
  align-self: center;
  margin-left: 0;
  font-size: clamp(1.8rem, 2vw, 2.2rem);
  font-weight: 600;
  color: var(--main-bg-color);
  background-color: var(--accent);
  border-radius: 42px;
  padding: 15px 44px;
}


/* ================ */
/* ===== Buy ===== */
/* =============== */

.buy {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.buy__inner {}

.buy__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  margin-bottom: 80px;
  position: relative;
}

.buy__title::before {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(32rem, 50vw, 65rem);
  height: 100%;
  z-index: -1;
}

.buy__content {
  display: flex;
  align-items: center;
  gap: clamp(3rem, 10vw, 17rem);
  background-image: url(../media/pages/index/buy-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  aspect-ratio: 2 / 1;
  width: 100%;

  color: var(--main-bg-color);
  font-family: Bebas;
}

.buy__date {
  font-size: clamp(4rem, 10vw, 16rem);
  padding-left: clamp(2rem, 5vw, 7rem);
}

.buy__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  text-align: right;
  height: 60%;
}

.buy__location {
  font-size: clamp(2rem, 3vw, 3.2rem);
}

.buy__btn {
  font-family: Gilroy;
  padding: 15px clamp(1rem, 5vw, 5rem);
  border-radius: 32px;
  font-size: clamp(1.8rem, 2vw, 2.2rem);
}



/* ====================== */
/* ===== Presenters ===== */
/* ====================== */


.presenters {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.presenters__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(2rem, 4vw, 5rem);
}

.presenters__info {}

.presenters__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  margin-bottom: 40px;
  position: relative;
}

.presenters__title::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(17rem, 30vw, 39rem);
  height: 100%;
  z-index: 1;
  transform: scaleY(1.5);
}

.presenters__description {
  font-size: clamp(1.6rem, 1.8vw, 1.8rem);
}

.presenters__presenter {
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}

.presenters__presenter img {
  width: 100%;
  height: 100%;
}

.presenters__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(3rem, 4vw, 4.2rem);
  font-family: Bebas;
  color: var(--main-bg-color);
  text-wrap: nowrap;
  width: 100%;
  text-align: center;
  padding: clamp(2rem, 3vw, 3.5rem) 0;
  backdrop-filter: blur(42px);
}


/* ====================== */
/* ===== Presenters ===== */
/* ====================== */

.accordion {
  max-width: 1410px;
  border-radius: 32px;
  margin: 0 auto;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.accordion__inner {
  display: flex;
  gap: clamp(2rem, 5vw, 7rem);
  padding: clamp(3rem, 6vw, 7rem) 0;
}

.accordion__info {}

.accordion__title {
  font-size: clamp(3rem, 5vw, 7rem);
  font-family: Bebas;
  margin-bottom: 20px;
  max-width: 450px;
  width: 100%;
  text-wrap: nowrap;
}

.accordion__subtitle {
  font-size: clamp(1.6rem, 1.8vw, 1.8rem);
  width: clamp(30rem, 35vw, 50rem);
}

.accordion__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff20;
  padding: 20px 30px;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
}

.accordion__question {
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  font-family: Bebas;
  transition: all .4s ease-out;
  padding-bottom: 0;
}

.accordion__item.item--active .accordion__question {
  padding-bottom: 20px;
}

.accordion__item.item--active .accordion__answer {
  max-height: 500px;
  opacity: 1;
}

.accordion__answer {
  font-size: clamp(1.4rem, 1.5vw, 1.6rem);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
}

@media (max-width: 1030px) {
  .about__item {
    align-items: center;
    background-image: none;
    background-color: var(--main-text-color);
  }

  .about__item--accent {
    background-color: var(--accent);
  }

  .about__item-subtitle {
    max-width: none;
    text-align: center;
  }

  .about__item::after {
    content: none;
  }
}



.accordion__inner {
  flex-direction: column;
}

.accordion {}



@media (max-width: 770px) {
  .about__header {
    flex-direction: column;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__info {
    align-self: start;
  }

  .about__item:nth-child(2) {
    grid-column: 2/3;
  }

  .about__item:nth-child(4) {
    grid-column: 1/2;
  }

  .about__item:nth-child(5) {
    grid-column: 2/4;
  }


  .judges__list {
    grid-template-columns: repeat(2, 1fr);
  }


  .presenters__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .presenters__info {
    grid-column: 1/3;
  }

  .presenters__presenter:first-child {
    grid-column: 1/2;
  }

  .presenters__presenter:last-child {
    grid-column: 2/3;
  }
}

@media (max-width: 700px) {
  .buy__content {
    background-image: url(../media/pages/tickets/ticket.svg);
    aspect-ratio: 1;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .buy__date {
    padding-left: 0;
  }

  .buy__wrapper {
    align-items: center;
  }

  .buy__location {
    width: 42vw;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .about__grid {
    grid-template-columns: 1fr 1fr;
  }

  .about__item:nth-child(2) {
    grid-column: 2/3;
  }

  .about__item:nth-child(4) {
    grid-column: 2/3;
  }

  .about__item:nth-child(5) {
    grid-column: 1/3;
  }
}

@media (max-width: 440px) {
  .presenters__inner {
    grid-template-columns: 1fr;
  }

  .presenters__presenter:last-child {
    grid-column: 1;
  }


  .buy__content {
    aspect-ratio: 1 / 1.5;
    padding: clamp(3rem, 5vw, 6rem);
  }

  .buy__wrapper {
    height: 75%;
  }

  .buy__date {
    font-size: 10rem;
  }

  .buy__location {
    font-size: 2.8rem;
    width: 30rem;
  }

  .buy__btn {
    padding: 15px 7rem;
  }
}