/* ================ */
/* ===== Hero ===== */
/* ================ */


.hero {
  max-width: 1410px;
  border-radius: 32px;
  margin: 0 auto;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  background-image: url('../media/pages/tickets/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.hero__inner {
  padding-top: 123px;
  padding-bottom: 50px;
}

.hero__title {
  font-family: Bebas;
  font-size: clamp(6rem, 15vw, 24rem);
  text-transform: uppercase;
  padding: clamp(8rem, 10vw, 11rem) 0 clamp(7rem, 8vw, 9rem);
  position: relative;
}

.hero__title::after {
  content: '07.06';
  position: absolute;
  top: clamp(9rem, 12vw, 15rem);
  right: 0%;
  font-size: clamp(5rem, 8vw, 12rem);
  color: var(--main-bg-color);
}

.hero__title::before {
  content: '06.06';
  position: absolute;
  top: clamp(21rem, 30vw, 45rem);
  font-size: clamp(5rem, 8vw, 12rem);
  color: var(--main-bg-color);
}

.hero__title span {
  display: flex;
  justify-self: end;
  text-wrap: nowrap;
  font-size: clamp(6rem, 15vw, 21rem);
}

.hero__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2.5vw, 3rem);
  font-size: clamp(2rem, 3vw, 5.2rem);
}

.hero__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 42px;
  transition: all .2s ease-in-out;
}

/* ================== */
/* ===== Ticket ===== */
/* ================== */

.ticket {
  margin-bottom: clamp(4rem, 10vw, 12rem);
}

.ticket__inner {}

.ticket__title {
  font-family: Bebas;
  font-size: clamp(5rem, 8vw, 12rem);
  position: relative;
  margin-bottom: 40px;
}

.ticket__title::after {
  content: "";
  position: absolute;
  background: url(../media/shared/decoration/underline.svg) no-repeat center / contain;
  bottom: -50%;
  left: 0;
  width: clamp(32rem, 50vw, 72rem);
  height: 100%;
  z-index: -1;
}

.ticket__content {}

.ticket__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(30rem, 32vw, 35rem), 1fr));
  gap: clamp(3rem, 5vw, 5.7rem);
  justify-items: center;
}

.ticket__item {
  color: var(--main-bg-color);
  font-family: Bebas;
  padding: 45px clamp(2rem, 2vw, 3rem);
  background: url(../media/pages/tickets/ticket.svg) no-repeat;
  background-position: center;
  background-size: auto 100%;
  max-width: 382px;
  min-width: 300px;
  width: 110%;
}


.ticket__head {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../media/pages/tickets/ticket-img.jpg');
  background-repeat: no-repeat;
  border-radius: 32px;
  overflow: hidden;
  margin-bottom: 10px;
  background-size: cover;
  height: 33rem;
}

.ticket__date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
  text-wrap: nowrap;
}

.ticket__date svg {
  width: clamp(10rem, 20vw, 27rem);
  height: clamp(3rem, 4vw, 5rem);
}

.ticket__body {
  display: flex;
  flex-direction: column;
}

.ticket__rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-wrap: nowrap;
  margin-bottom: clamp(5rem, 6vw, 7rem);
}

.ticket__row {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  gap: 12px;
  line-height: 1.5;
}

.ticket__row:first-child {
  margin-bottom: clamp(0.5rem, 1.5vw, 2rem);
}

.ticket__row-line {
  background-color: var(--main-bg-color);
  height: 2px;
  width: 100%;
}

.ticket__row-name {
  font-family: Gilroy;
  font-size: 16px;
}

.ticket__row-price {
  position: relative;
  font-size: 32px;
  z-index: 2;
}

.ticket__row-price::before {
  content: "";
  position: absolute;
  background: url(../media/pages/tickets/price-bg.svg) no-repeat center / contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1.4);
}

.ticket__btn-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ticket__btn {
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  padding: 17px 58px;
  border-radius: 32px;
}

@media (max-width: 400px) {
  .ticket__item {
    width: auto;
  }
}

/* @media (max-width: 1030px) {
  .ticket__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ticket__list {
    display: flex;
    flex-direction: column;
  }
} */